* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f8e8e6;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-section {
    width: 50%;
    background: #b30000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}

.brand {
    font-size: 80px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 10px;
}

.tagline {
    font-size: 14px;
    margin-top: 5px;
}

.right-section {
    width: 50%;
    display: flex;
    justify-content: flex-start; /* shift card toward the left side */
    align-items: center;
    height: 100vh;
    padding-left: 30px; /* adjust distance from center line */
}

.card {
    background: #F8EDEB;
    width: 55%;
    padding: 40px 35px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: left; /* align content to the left */
}

.card h3 {
    color: #b30000;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card input {
    padding: 14px;
    border: 2px solid #b30000;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
}

.card button {
    background: #b30000;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover {
    opacity: 0.9;
}
